<h1><%= @house.name %></h1>
<% @house.students.each do |student| %>
<div class="/houses/<%=@house.id%>">
  <h2><%= link_to student.name, student_path(student) %></h2>
  <%= image_tag student.img_url %>
</div>
<% end %>
